<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1>推しのカルテ</h1>
  </div>
</div>
<div class='top'>
  <div class='container pt-3'>
    <div class='row'>
      <p class="col-12 col-md-offset-1 text-center fs-2">推しのカルテとは</p>
      <p class="text-center">
        推しのカルテは、推しを持つ全ての皆様の<br>
        「推しを布教したい！」「同志を発見して繋がりたい！」<br>
        「グッズ情報を共有したい！」そんな気持ちを<br>
        可視化するサービスです
      </p>
    </div>
  </div>
</div>