<div class="container">
  <div class="row">
    <div class="col-lg-5 offset-lg-2">
      <table id="js-table-comment" class="table">
        <%= render comments %>
      </table>
    </div>
  </div>
</div>