<footer id='footer' class='footer-bottom bg-info'>
  <div class='container px-4 text-center'>
    <div class='row'>
      <div class="col">
        <%= link_to '利用規約', terms_of_service_path, class: "nav-link mt-2 text-secondary" %>
      </div>
      <div class="col">
        <%= link_to 'プライバシーポリシー', privacy_policy_path, class: "nav-link mt-2 text-secondary" %>
      </div>
      <div class="col">
        <%= link_to 'お問い合わせ', 'https://docs.google.com/forms/d/e/1FAIpQLSdddhZI3IVJTwtNKn0VE7TXyymxydroRirZWEt1T5nTlPFGEg/viewform', class: 'nav-link mt-2 text-secondary' %>
      </div>
      <div class="copyright">
        <p>Copyright © 2023. 推しのカルテ</p>
      </div>
    </div>
  </div>
</footer>