<div class="wrapper">
  <div class="container pt-3">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <!-- 検索フォーム -->
        <form>
          <div class="input-group mb-3">
            <input class="form-control" placeholder="検索するワードを入力してね" type="search" />
            <div class="input-group-append">
              <input type="submit" value="検索" class="btn btn-warning" />
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col text-center mb-3">
        <%= link_to t('boards.new.title'), new_board_path, class: 'btn btn-primary btn-lg' %>
      </div>
    </div>

    <!-- 掲示板一覧 -->
    <div class="row">
      <div class="col-12">
        <div class="row">
          <% if @boards.present? %>
            <%= render @boards %>
          <% else %>
          <p><%= t('.no_result') %></p>
          <% end %>
        </div>
        <!-- ページネーション -->
        <%= paginate @boards %>
      </div>
    </div>
  </div>
</div>