$primary:       #FFE2E2;
$secondary:     #8785A2;
$success:       #BBDED6;
$info:          #E3FDFD;
$warning:       #FAEAB1;
$danger:        #FF9292;
$light:         #F6F6F6;
$dark:          #005CAF;

$enable-rounded:              true;
$border-radius-pill:          50rem;

* { font-family: "M PLUS Rounded 1c"; }

@import 'top';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";