.top-wrapper {
  background-image: image-url("top_image.png");
  height: calc(100vh - 134px);
  position: relative;
  background-position: center;

  .top-inner-text {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 3rem;

    h1,h2 {
      color: white;
    }

    @media screen and (max-width: 767px) {
      font-size: 2.0rem;
    }
  }
}

.wrapper {
  background-image: image-url("top_image.png");
  background-size: cover
}

h1,h2,h3,h4 {
  color: #1E88A8;
}

p {
  color: #005CAF;
}

.top {
  background-color: #FEDFE1;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.box-title {
  margin:0em ;
  display:inline-block;
  position:relative;
  top:3px;
  padding:0 .5em;
  height:1.5em;
  line-height:1.5em;
  color:#ffffff;
  background:#ffc0c0;
  font-weight:bold;
  text-align:center;
  border-radius:5px 5px 0 0;
}

.box-text {
  background:rgba(255,255,255,0);
  border:solid 3px #ffc0c0;
  border-radius:0 5px 5px;
  padding:20px;
  font-size: 100%;
}

.box-dot {
  max-width: 400px;
  margin: 0 auto;
  padding: 1em 1.5em;
  border: 2px solid #b3f0ff;
  border-radius: 3px;
  background-image: linear-gradient(45deg, #b3f0ff12 25%, transparent 25%, transparent 50%, #b3f0ff12 50%, #b3f0ff12 75%, transparent 75%, transparent), linear-gradient(-45deg, #b3f0ff12 25%, transparent 25%, transparent 50%, #b3f0ff12 50%, #b3f0ff12 75%, transparent 75%, transparent);
  background-color: #b3f0ff0d;
  background-size: 20px 20px;
}

.pagination {
  justify-content: center;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #ffc0c0;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}