.top-wrapper {
  background-image: image-url("top_image.png");
  height: calc(100vh - 134px);
  position: relative;
  background-position: center;

  .top-inner-text {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 3rem;

    h1,h2 {
      color: white;
    }

    @media screen and (max-width: 767px) {
      font-size: 2.0rem;
    }
  }
}

.wrapper {
  background-image: image-url("top_image.png");
  background-size: cover
}

h1,h2,h3,h4 {
  color: #1E88A8;
}

p {
  color: #005CAF;
}

.top {
  background-color: #FEDFE1;
}